
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
   /* Styles */
   .header{
      height:37rem;
      background-image: url('../images/496.png');
      background-size: 130% 110%;
      background-repeat: no-repeat;
      background-position: center;
      
   }
   .header-text{
      padding-top: 15rem;
      position: absolute;
      left: 1rem;
      font-family: 'Nanum Myeongjo', serif;
      font-weight: 800;
   }
}
   
   /* Smartphones (landscape) ----------- */
   @media only screen and (min-width : 321px) {
   /* Styles */
   }
   
   /* Smartphones (portrait) ----------- */
   @media only screen and (max-width : 320px) {
   /* Styles */
   }
   
   /* iPads (portrait and landscape) ----------- */
   @media only screen and (min-width : 768px) and (max-width : 992px) {
   /* Styles */
   .header{
      height:37rem;
      background-image: url('../images/767.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      
   }
   .header-text{
      padding-top: 15rem;
      position: absolute;
      left: 2.5rem;
      font-family: 'Nanum Myeongjo', serif;
      font-weight: 800;
   }
   }
   
   /* iPads (landscape) ----------- */
   @media only screen and (min-width : 992.88px) and (max-width : 1224px) and (orientation : landscape) {
   /* Styles */
   .header{
      height:40rem;
      background-image: url('../images/992.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      
   }
   .header-text{
      padding-top: 15rem;
      position: absolute;
      left: 3rem;
      font-family: 'Nanum Myeongjo', serif;
      font-weight: 800;
   }
}